:root {
    /*variáveis de cores em hexadecimal*/
    --color-background: #F5F8FA;
    --color-border: #D3E2E5;
    --color-background-box: #ffffff;

    --color-title-one:  #04BF58;
    --color-title-two: #5C8599;
    --color-text: #474746;
    --color-text-hover: #5f5f5f;

    --color-background-button: #3CDC8C;
    --color-background-button-hover: #36CF82;
    --color-text-button: #FFFFFF;
}

div.account {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    

    display: flex;
    background-color: var(--color-background);
}
  
div.account main {
    flex: 1;
}
  
form.form {
    width: 700px;
    margin: 64px auto;
  
    background: var(--color-background-box);
    border: 1px solid var(--color-border);
    border-radius: 20px;
  
    padding: 50px 50px;
  
    overflow: hidden;
}
  
form.form fieldset {
    border: 0;
}
  
form.form fieldset legend {
    width: 100%;
  
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    line-height: 34px;
    color: var(--color-title-one);
    font-weight: 800;
  
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 40px;
    padding-bottom: 24px;
}

#land {
    font-family: "Nunito", sans-serif;
    color: var(--color-title-one);
    font-weight: 800;
    align-items: center;
}

form.form .input-block {
    flex-direction: row;
    align-content: space-between;
}
 
form.form .input-block + .input-block {
    margin-top: 24px;
}
  
form.form .input-block label {
    display: flex;
    color: var(--color-title-two);
    margin-bottom: 8px;
    line-height: 24px;
    
    align-items: center;

    font-family: "Comissioner", sans-serif;
}

form.form .input-block label span{
    margin-left: 10px;
    font-size: 8pt;

    color: var(--color-text-hover);
}
  
form.form .input-block input {
    width: 100%;
    height: 35px;
    padding: 0 16px;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    outline: none;
    color: var(--color-title-two);
}
  
form.form .confirm-button {
    margin-top: 45px;
    margin-bottom: 20px;
  
    font-size: large;
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: var(--color-background-button);
    border-radius: 20px;
    color: var(--color-text-button);
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
}
  
form.form .confirm-button:hover {
    background: var(--color-background-button-hover);
}

form.form a {
    line-height: 24px;
    font-family: "Comissioner", sans-serif;
    text-decoration: none;
    color: var(--color-text);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

form.form a:hover {
    color: var(--color-text-hover);
}